@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Martel Sans', system-ui, sans-serif;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

button {
  @apply p-2 rounded-md dark:text-ys-backgroundAndText w-36;
}

.default-btn {
  @apply dark:bg-ys-buttonPrimary dark:hover:bg-ys-hoverPrimary dark:text-ys-backgroundAndText hover:text-ys-backgroundAndText bg-ys-backgroundAndText text-ys-textAndIconsLight hover:bg-ys-buttonPrimary;
}

.console-btn {
  @apply border-r rounded-none dark:border-ys-backgroundAndText border-ys-amethyst-400 dark:text-ys-textAndIconsLight text-ys-backgroundAndText;
}

.sideBarBtn {
  @apply rounded-none dark:text-ys-textAndIconsLight text-ys-backgroundAndText;
}

.sideBarBtn.dropdownArrow {
  @apply flex items-center gap-3;
}

.dropdownArrow::before {
  @apply mb-1 content-[''] w-0 h-0 dark:border-l-ys-textAndIconsLight border-l-ys-overlay-30 border-l-[10px] border-b-[5px] border-t-[5px] border-b-transparent border-t-transparent;
}

.console-btn.active {
  @apply dark:bg-ys-backgroundAndText bg-ys-amethyst-400;
}

.nav-btn {
  @apply dark:text-ys-textAndIconsLight text-ys-backgroundAndText w-20;
}

.dropdownArrowDown::after {
  @apply mb-1 content-[''] w-0 h-0 dark:border-t-ys-textAndIconsLight border-t-ys-overlay-15 border-t-[10px] border-l-[5px] border-r-[5px] border-l-transparent border-r-transparent;
}

.nav-btn.dropdownArrowDown {
  @apply flex items-center gap-3;
}

textarea {
  @apply w-full bg-gray-300 text-black;
}

.spreadsheet-container div {
  @apply dark:text-ys-textAndIconsLight dark:bg-ys-overlay-15;
}

/* It handles online cell editing */
table tr td:focus {
  @apply outline outline-2 -outline-offset-2 outline-ys-amethyst-500;
  @apply border border-0;
}

/* It keeps the first row and column header sticky */
.table__sticky-top thead,
.table__sticky-left thead th:first-of-type,
.table__sticky-left tbody th {
  @apply dark:bg-ys-overlay-15 bg-white sticky top-0 z-20;
}

.table__sticky-left thead th:first-of-type,
.table__sticky-left tbody th {
  @apply left-0 z-10;
}

svg {
  @apply fill-current;
}

/* It handles the code aria container */
.code-editor {
  @apply w-full h-full min-h-[10rem];
}

.toggle-btn {
  @apply text-xs rounded-full p-1 h-6 w-10 bg-ys-textAndIconsLight text-ys-backgroundAndText dark:text-ys-textAndIconsLight relative;
}

.toggle-btn .toggle-switch {
  @apply size-4 bg-ys-backgroundAndText absolute right-1 rounded-full top-1/2 -translate-y-1/2 pointer-events-none;
}

.toggle-btn.light .toggle-switch {
  @apply right-auto left-1;
}

/* It handles the code aria container */

/* It handles the code aria container */
.code-editor {
  width: 100%;
  height: 100%;
  min-height: 10rem;
}

.hidden {
  display: none;
}
/* styling for collapsed sidebar */
.sidebar-narrow {
  width: 3rem;
}

li {
  @apply transition-transform duration-200; /* Smooth transition */
}

li button:hover {
  @apply transform scale-105; /* Scale up on hover */
}

#fileBtn:hover {
  @apply transform scale-110; /* Scale up on hover */
}

.active {
  font-size: larger;
}
