@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Martel Sans", system-ui, sans-serif;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

button {
  @apply  p-2 rounded-md dark:text-ys-backgroundAndText w-36
}

.default-btn {
  @apply bg-ys-buttonPrimary 
}

.console-btn,
.sideBarBtn {
  @apply border-r rounded-none border-ys-backgroundAndText text-ys-textAndIconsLight
}

.console-btn.active {
  @apply bg-ys-backgroundAndText
}

.nav-btn {
  @apply text-ys-textAndIconsLight w-20
}

textarea {
  @apply w-full bg-gray-300 text-black;
}

.spreadsheet-container div {
  @apply dark:text-ys-textAndIconsLight dark:bg-ys-overlay-15;
}

/* It handles online cell editing */
table tr td input {
  @apply size-full p-4;
}

/* It keeps the first row and column header sticky */
.table__sticky-top thead,
.table__sticky-left thead th:first-of-type,
.table__sticky-left tbody th {
  @apply bg-ys-overlay-15 sticky top-0 z-20
 
}

.table__sticky-left thead th:first-of-type,
.table__sticky-left tbody th {
  @apply left-0 z-10
}